
html {
    font-family: 'Source Sans Pro', sans-serif;
    
}

body {

    background: url(https://get.pxhere.com/photo/book-education-font-study-studying-product-design-school-learn-1376039.jpg) no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100% ;
    text-align: center;
}


#div1 {

    
    color: white;
    margin: 100px 0px 30px 0px;  
    border: 5px solid black;
    padding: 10px;
    background: rgba(156, 19, 19, 0.8);
    display: inline-block;

}


h1 {

    margin: 0px;
    padding: 20px 0px 20px 0px ;
    font-size: 40px;
    text-align: center;
    text-shadow: 3px 3px 1px black;
}

h2 {

    font-size: 30px;
    padding: 0px 20px 0px 20px;
    text-shadow: 2px 2px 1px  black;
}

p {
    padding: 10px;
    font-size: 10xp; 
    line-height: 1;
    letter-spacing: 1px;
}

.imagen {

    height: 100%;
    width: 100%;
}

li {
    list-style-type: none;
  }

.texto {

    color: red;
    text-align: center;
    padding: 10px;
}